@import "variables";
.container{
    position: relative;
    //border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    //p{
    //    font-family: $basicFont;
    //    font-weight: $basicWeight;
    //    font-size: $basicFontSize;
    //    line-height: 72px;
    //    margin: 0;
    //}
    //h5{
    //
    //}
}
