@import "src/common/styles/variables";

.mainDiv {
  height: 100vh;

}

.description {
 position: relative;
  width: 300px;
  background-color: white;
  border-radius: 0px 100px ;
  opacity: 0.7;
  box-shadow: 10px 9px 40px 0px rgb(0 0 0 / 75%);
  padding: 25px;

  p {
    font-family: $basicFont;
    font-size: $basicFontSize + 9px;
    text-align: right;
    line-height: 30px;
    font-weight: $bold - 200;
    color: #212121;
  }
  .CVBtn{
    color: #ff2323;
    font-size: $basicFontSize;
    font-family: $basicFont;
    border: 1px solid $light-grey;
    border-radius: 3px;
    background-color: white;
    font-weight: $bold;
    letter-spacing: 0.05em;
    position: absolute;
    width: 120px;
    left: 59%;
    bottom: 1%;
    a{
      text-decoration: none;
      color: #ff2323;
    }
    &:hover{
      background-color: #ff2323 ;
      color: white;
      box-shadow: inset 0 1px 0 0 #fcfcfc, inset 0 -1px 0 0 #f4f4f4, inset 0 0 0 1px #fbfbfb;
      cursor: pointer;
      a{
        color: white;
      }
    }
  }

}


@media (max-width: 600px) {
  .mainDiv {

  }
  .photo {
    width: 250px;
    height: 300px;
  }
}