@import "/src/common/styles/variables";

.oneProjectBlock {

  width: 200px;
  padding: 5px;
  margin: 10px;

  h4 {
    font-size: $basicFontSize + 5px;
    font-family: $basicFont;
    line-height: 10px;
    color: $black;

  }

  span {
    @include basicText()
  }

}

.projectPic {
  position: relative;
  border: 1px solid #d4d4d4;;
  width: 100%;
  height: 200px;
  background-color: darkslategray;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.5s;
  overflow: hidden;


  .projectBtn {
    display: none;
    transform: translateY(0%);
    animation: ani 1s forwards;

  }

  &:hover {
    box-shadow: 0 0 80px 51px rgb(252 252 252) inset;
    background-size: 160%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(1.05);
    .projectBtn {
      opacity: 1;
      display: block;
      background-color: #a8a8a8;
      border-radius: 3px 3px 3px 3px;
      border: 1px solid $red;
      margin: 7px;
      padding: 7px 1px;
      a{
        padding: 7px 40px;
        text-decoration: none;
        color: white;
        letter-spacing: 0.05em;
      }
      @keyframes ani {
        0% {transform: translateY(0%);}
        100% {transform: translateY(100%);}
      }
      &:hover{
        box-shadow: inset 0 1px 0 0 #fcfcfc, inset 0 -1px 0 0 #f4f4f4, inset 0 0 0 1px #fbfbfb;
      }
    }
  }
}

@media (max-width: 600px) {
  .projectPic {
    height: 180px;
  }
}





